.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #839eb8;
}

.header img {
  width: 210px;
  height: 210px;
}

.header h1 {
  font-size: 24px;
  color: #333;
}

.header__avatar {
  width: 170px; /* Adjust the width as needed */
  height: 170px;
  border-radius: 50%;
  margin-right: 10px;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__content h1 {
  margin: 0;
  font-size: 24px;
}

.header__content p {
  margin: 5px 0;
}